body{
    font-family: 'Bona Nova', serif;
}
section{
    margin-bottom: 100px;
}
nav{
    text-align: center;
    background-color: rgb(71, 67, 67);
    height: 60px;
    padding: 1px;
}
nav ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: white;
    
}
 nav ul a:hover{
    background-color: lightgrey;
}
h1{
    font-size: 45px;
}
p{
    font-size: 20px;
}
span{
    color:lightsalmon
}
.top-banner{
    display: flex;
    
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 90%;
}
.link-btn{
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius:7px;
    padding: 2% 3%;
    background-image: linear-gradient( 45deg , orange, rgb(253, 37, 9));
}
.shop-details{
    display: flex;
}
.recipe{
    text-align: center;
    width: 60%;
    margin: auto;
    
}
.recipe-item{
    display: flex;
}
.recipe-title{
    width: 50%;
    margin: 5%;
    padding: 2%;
    box-shadow: 10px 10px 30px grey;
}
.recipe-title img{
    width: 90%;
}
footer{
    background-color: rgb(15, 11, 11);
    text-align: center;
    height: 220px;   
    padding-top: 30px;
}
footer p{
    color: white;
}
footer h1{
    color: gray;
}